In [1]:
import numpy as np
lst1 = [1,2,3]
array1 = np.array(lst1)

In [2]:
lst1

[1, 2, 3]

In [3]:
array1

array([1, 2, 3])

In [4]:
type(lst1)

list

In [5]:
type(array1)

numpy.ndarray

In [6]:
lst2 = [10,11,12]

In [7]:
array2 = np.array(lst2)

In [13]:
print("Adding two lists ",lst1, " and ",lst2, " together: ", lst1+lst2)

Adding two lists  [1, 2, 3]  and  [10, 11, 12]  together:  [1, 2, 3, 10, 11, 12]

In [14]:
print("Adding two numpy arrays ", array1, " and ", array2, " together : ", array1+array2)

Adding two numpy arrays  [1 2 3]  and  [10 11 12]  together :  [11 13 15]

In [16]:
print("array2 multiplied by array1", array1*array2)
print("array2 divided by array1", array2/array1)
print("array2 raised to power array1", array2**array1)

array2 multiplied by array1 [10 22 36]
array2 divided by array1 [10.   5.5  4. ]
array2 raised to power array1 [  10  121 1728]

In [18]:
# Sine function
print("Sine : ", np.sin(array1))

# Logaritm
print("natural logarithm : ", np.log(array1))
print("Base 10 logarithm : ", np.log10(array1))
print("Base 2 logarithm : ", np.log2(array1))

#Exponential
print("Exponential : ", np.exp(array1))

Sine :  [0.84147098 0.90929743 0.14112001]
natural logarithm :  [0.         0.69314718 1.09861229]
Base 10 logarithm :  [0.         0.30103    0.47712125]
Base 2 logarithm :  [0.        1.        1.5849625]
Exponential :  [ 2.71828183  7.3890561  20.08553692]

# Mathematical operations with/on Numpy arrays
### Logarithms
##### (base)pow = number
##### What Power of 2 is 16 ??
##### i.e. log2(16) = ?
##### log2(16) = 4
##### (2)4 = 8
##### log10(10) = 2

##### (2)-3 = 1/8

In [26]:
print(np.log10(100))
np.e

2.0

2.718281828459045

### How to generate arrays easily
* `np.zeroes`
* `np.ones`
* `np.arange`
* `np.linspace`

In [35]:
print("A series of zeroes : ", np.zeros(7))
print("A series of ones : ", np.ones(9))
print("A series of numbers : ", np.arange(5,16))
print("Numbers spaced apart by 2 : ", np.arange (0,11,2))
print("Numbers spaced apart by float: ", np.arange(0,11,2.5))
print("Every 5th number from 30 in reverse order: ", np.arange(30,-1,-5))
print("11 linearly spaced numbers spaced between 1 and 5", np.linspace(1,5,11))

A series of zeroes :  [0. 0. 0. 0. 0. 0. 0.]
A series of ones :  [1. 1. 1. 1. 1. 1. 1. 1. 1.]
A series of numbers :  [ 5  6  7  8  9 10 11 12 13 14 15]
Numbers spaced apart by 2 :  [ 0  2  4  6  8 10]
Numbers spaced apart by float:  [ 0.   2.5  5.   7.5 10. ]
Every 5th number from 30 in reverse order:  [30 25 20 15 10  5  0]
11 linearly spaced numbers spaced between 1 and 5 [1.  1.4 1.8 2.2 2.6 3.  3.4 3.8 4.2 4.6 5. ]

## Multi-dimensional arrays

In [37]:
my_mat = [[1,2,3],[4,5,6],[7,8,9]]

In [38]:
mat = np.array(my_mat)

In [39]:
mat

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [42]:
print(mat)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [41]:
print(type(mat))

<class 'numpy.ndarray'>

In [50]:
my_tuple = np.array([(1.5,2,3), (4,5,6)])
print(type(my_tuple))
mat_tuple = np.array(my_tuple)
print(type(mat_tuple))
print(mat_tuple)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[[1.5 2.  3. ]
 [4.  5.  6. ]]